@model VoteSystem.Data.Vote

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        @foreach (var item in Model.Questions){
            <dd>
                <span>(</span>@Html.DisplayFor(model => item.VoitCounts)<span>)</span>
                @Html.DisplayFor(model => item.Name)
            </dd>
         }


</dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
